
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$purple: hsl(275,87%,45%);
$purple-invert: findColorInvert($purple);

$info:rgb(14, 214, 197);

@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
$addColors: (
        "purple":($purple, $purple-invert),
);
$colors: map-merge($colors, $addColors);
@import '../node_modules/bulma/bulma';
//@import '../node_modules/bulma-extensions/extensions';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
