
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma/sass/utilities/derived-variables.sass";
@import "../node_modules/bulma/bulma";
@import "./grid.scss";

// *:not(path):not(g) {
// 	color:                    hsla(210, 100%, 100%, 0.9) !important;
// 	background:               hsla(210, 100%,  50%, 0.5) !important;
// 	outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;

// 	box-shadow: none !important;
// }

// $purple: hsl(275,87%,45%);
// $purple-invert: findColorInvert($purple);

// $info:rgb(14, 214, 197);


// $addColors: (
//         "purple":($purple, $purple-invert),
// );
// $colors: map-merge($colors, $addColors);




.center, .center-column, .top, .right, .bottom, .left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-column {
    flex-direction: column;
}

.top    { align-items:     flex-start; }
.right  { justify-content: flex-end;   }
.bottom { align-items:     flex-end;   }
.left   { justify-content: flex-start; }

.single-spaced, .single-spaced * {
    line-height: 1;
}

@media (max-width: 1024px) {
	.desktop {
		display: none;
	}
}